@use "../../index" as *;

.contact-hero{
    margin-top: 50px;
    .container{
        .contact-hero-container{
            @include Flex(row,center,space-between,0);
            @include Media(md){
                @include Flex(column,flex-start,space-between,0);
                .contact-hero-img{
                    align-self: flex-end;
                    img{
                        width: 100%;  
                    }
                }
            }
            .contact-hero-text{
                @include Flex(column,flex-start,flex-start,0);
                gap: 50px;
                padding: 30px;
                flex-grow: 1;
                h1{
                    font-size: 4rem;
                    @include Media(sm){
                        font-size: 3rem;
                    }
                }
                button{
                    padding: 12px 30px;
                    border: 0;
                    outline: 0;
                    border-radius: 4px;
                    color: $white-color;
                    font-size: 1.2rem;
                    font-weight: 500;
                    background-color: $light-blue-color-1;
                    &:hover{
                        background-color: $dark-blue-color-2;
                    }
                }
                .contact-hero-phone{
                    @include Flex(row,flex-start,flex-start,0);
                    gap: 30px;
                    @include Media(sm){
                    @include Flex(column,flex-start,flex-start,0);
                        h3{
                            font-size: 1.3rem;
                        }
                    }
                }
                .contact-hero-social{
                    @include Flex(row,flex-start,flex-start,0);
                    gap: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}