@use '../../../../index' as *;
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark-blue-color-2;
    @include Flex(row,center,center,0);
    z-index: 1000;
}