@use "../../../index" as *;

.contact-talk{
    .container{
        @include Flex(column,center,center,0);
        margin-top: 300px;
        gap: 20px;
        .contact-talk-btn{
            button{
                padding: 10px 50px;
                color: $white-color;
                font-weight: 500;
                font-size: 18px;
                border: 0;
                border-radius: 5px;
                border: 1px solid $light-blue-color-1;
                background-color: transparent;
                color: $light-blue-color-1;
                font-weight: 700;
                &:hover{
                    background-color: $light-blue-color-1;  
                    color: $white-color;
                }  
            }
        }
    
    }
}