@use "../../../index" as * ;

.team{
    @include Flex(row,center ,space-evenly,0);
    gap: 30px;
    flex-wrap: wrap;
    .img-row-1{
        img{
            width: 100%;
            cursor: pointer;
        }
    }
    h2{
        margin: 100px 0;
        font-size: 3rem;
        color: $dark-blue-color-2;
    }

     h1,h2{
        @include Media(md){
            font-size: 50px !important;
        }
        @include Media(sm){
            font-size: 30px !important;
        }
    }
    .img-row-2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        img{
            width: 100%;
            cursor: pointer;
        }
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3,360px);
        justify-content: center;
        align-items: center;
        @include Media(md){
            grid-template-columns: repeat(2,360px);
        }
        @include Media(sm){
            grid-template-columns: repeat(1,360px);
        }
        div{
            margin-bottom: 30px
        }
    }

}
.team-icons{
    @include Flex(row,center,center,0);
    gap: 30px;
    padding: 50px 0 ;
}